@font-face {
    font-family: Handjet;
    src: url("../fonts/Handjet-VariableFont_ELGR,ELSH,wght.ttf") format("truetype");
}

* {
    font-family: Handjet;
    font-size: 32px;
    filter: contrast(1);
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: none;
}

body {
    background-color: #f2f1f4;
    color: #72677E;
    margin-bottom: 2ch;
}

li { list-style-type: none; }

ul {
    padding: 0;
    margin: 0ch 4ch 0ch 4ch;
}

pre { margin: 2ch 2ch 1ch 2ch; }

p   { 
    $<(margin 0 2 0 2)>; 
    width: 60ch;
    max-width: 100%;
}

a { text-decoration: none; }

a.social { color: #BB99B4; }
a.pages  { color: #8b8198; }
a.acknowledge { color: #7297B9; }
a.article { color:#7297B9 }
a.bloglink { color:#BB99B4 }

a:hover {
    text-decoration: underline 2px;
    color: #585062;
}


table {
  margin-bottom: 2em;
  width: 50%; 
  margin-right: auto;
  background-color: #f2f1f4;
  color: #a59daf;
}

th {
  border-bottom: 2px solid #ccc;
  font-weight: bold;
  text-align: left; 
  background-color: #f2f1f4;  
  color: #a59daf;
}

.emoji {
 font-size: 22px;
}

td {
  border-bottom: 1px solid #ddd; }

caption, th, td {
  padding: 4px 10px 4px 0; }

caption {
  background: #f1f1f1;
  margin-bottom: 1em;
  padding: 10px 0; }

tr, td, th {
  vertical-align: middle; }

/* Use this if you use span-x classes on th/td. */
table .last {
  padding-right: 0; }

@media only screen and (min-width: 600px) {
    pre  { margin: 4ch 4ch 2ch 4ch; }
    ul   { margin: 0ch 12ch 0ch 12ch; }
    p    { margin: 0ch 8ch 0ch 8ch; }
    body { margin-bottom: 4ch;  }
}
