@font-face {
    font-family: HandWriting;
    src: url("../fonts/Nora%20%282%29.otf") format("opentype");
}

@font-face {
    font-family: HandWritingTwo;
    src: url("../fonts/ShadowsIntoLight-Regular.ttf") format("truetype");
}

@font-face {
    font-family: Main;
    src: url("../fonts/Handjet-VariableFont_ELGR,ELSH,wght.ttf") format("truetype");
}

@font-face {
    font-family: MonoItalics;
    src: url("../fonts/VictorMono-Italic-VariableFont_wght.ttf") format("truetype");
}


* {
    font-family: Main;
    font-size: 32px;
    filter: contrast(1);
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: MonoItalics;
    color: #aabcce
}

.bracket {
  display: inline-block;
  width: 20px;
  height: 400px;
  border-top: 4px solid #e5ebf1;
  border-bottom: 4px solid #e5ebf1;
  border-radius: 3px;
  margin-top: 10px;
}

iframe.spotify {
  transform: translate(0, -10px);
  width: 85%;
}

#dialogs_in_dialogs3 button {
    text-align: left;
}

dialog {
   background-color: #0b1c2c;
   color: #cbd6e2;
   border-color: baseOF baseOF;
   justify-content: center;
}

dialog p {
    font-family: "HandWriting";
}

dialog p a, dialog form button a {
    text-decoration: none;
    color: inherit;
}

dialog form {
    text-align: center;
    margin-top: 20px;
}

dialog form button {
    font-family: "HandWritingTwo";
    background-color: #cbd6e2;
    color: #0b1c2c;
    font-size: 22px;
    max-width: 400px;
}

.lbracket {
  border-left: 3px solid #e5ebf1;
  margin-right: 6px;
}

.rbracket {
  border-right: 3px solid #e5ebf1;
  margin-left: 6px
}
body {
    background-color: #223b54;
    color: #e5ebf1;
    margin-bottom: 2ch;
}

li { list-style-type: none; }

ul {
    padding: 0;
    margin: 0ch 4ch 0ch 4ch;
}

ul.lbracket {
  margin-left: 10px;
}

ul.lbracket li {
  margin: 0ch 4ch 0ch 4ch;
  color: #bf8b56;
  font-family: HandWriting;
}

pre { margin: 2ch 2ch 1ch 2ch; }

p   { 
    margin: 0ch 2ch 0ch 2ch; 
    width: 60ch;
    max-width: 100%;
}

a { 
    text-decoration: none; 
    font-family: inherit;
    }

a.social { color: #bf568b; }
a.pages  { color: #cbd6e2; }
a.acknowledge { color: #8b56bf; }
a.article { color:#8b56bf }
a.bloglink { color:#bf568b }
a.normal { color:inherit }

a:hover {
    text-decoration: underline 2px;
    color: #f7f9fb;
}


table {
  margin-bottom: 2em;
  width: 50%; 
  margin-right: auto;
  background-color: #223b54;
  color: #aabcce;
}

th {
  border-bottom: 2px solid #ccc;
  font-weight: bold;
  text-align: left; 
  background-color: #223b54;  
  color: #aabcce;
}

.emoji {
 font-size: 22px;
}

td {
  border-bottom: 1px solid #ddd; }

caption, th, td {
  padding: 4px 10px 4px 0; }

caption {
  background: #f1f1f1;
  margin-bottom: 1em;
  padding: 10px 0; }

tr, td, th {
  vertical-align: middle; }

/* Use this if you use span-x classes on th/td. */
table .last {
  padding-right: 0; }

@media only screen and (min-width: 600px) {
    pre  { margin: 4ch 4ch 2ch 4ch; }
    ul   { margin: 0ch 12ch 0ch 12ch; }
    p    { margin: 0ch 8ch 0ch 8ch; }
    body { margin-bottom: 4ch;  }
}
